.Rectangle-2977 {
    margin: 115px 2px 7662px 0;
    background-image: linear-gradient(to bottom, #085578 0%, rgba(22, 111, 151, 0) 100%);
    background-color: #010C15;
  }
  body{
      background-color: black;
  }