@font-face {
    font-family: 'Nexa';
    src: url('../assets/fonts/Nexa\ Bold.otf') format('opentype');
    src: 
    url('../assets/fonts/webfontkit-20220519-162523/nexa_bold-webfont.woff')format('woff'),
    url('../assets/fonts/webfontkit-20220519-162523/nexa_bold-webfont.woff2')format('woff2');
 font-weight: 900;
}
@font-face {
    font-family: 'Nexalight';
    src: url(../assets/fonts/Nexa\ Light.otf);
}
@font-face {
    font-family: 'Nexaregular';
    src: url(../assets/fonts/Nexa\ Regular.otf);
}

.caseStudy6{
    position: relative;
    top: 80px;
    display: block;
    background-image:
                  url("../assets/images/banners/Zelle.png");
                  background-size: 100%;   
                  background-repeat: no-repeat;
                  background-size: cover;
                  
}
.banner1{
    opacity: 1;
    overflow: hidden;
    height: 690px;
    margin-top: 30px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px
}
.casestudyCont1{

box-sizing : border-box;

display: block;
font-size: 14px;
height: 100%;
line-height :20px;
margin-bottom: 23px;
margin-top: 23px;
position: relative;
text-size-adjust: 100%;
}
.csbgdiv1 {
    
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    box-sizing: border-box;
    
    display: block;
    font-size: 14px;
    height: 690px;
    line-height: 20px;
    margin-top: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-size-adjust: 100%;
    }
    .block6div1 {
        box-sizing: border-box;
        display: block;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        height: 150px;
        line-height: 20px;
        position: relative;
        text-size-adjust: 100%;
    }
    .cssblocktitle1{
        width: 706px;
        height: 84px;
        left: 178px;
        top: 320px;
        font-family: 'Nexa';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 84px;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        margin-top: 9.5rem;

    }

.cssblocktitle2{
    width: 746px;
height: 26px;
left: 178px;
top: 396px;

font-family: 'Nexa';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 26px;
/* identical to box height */

letter-spacing: 0.13em;
text-transform: uppercase;

color: #FFFFFF;

}

.cssblocktitle3{
    left: 9.27%;
    right: 59.64%;
    top: 59%;
    bottom: 38.5%;
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 1.6rem;
}