.art1{
 position: relative;
width: 1440px;
height: 16911px;

background: #FFFFFF;
}
.art2{
    position: absolute;
left: 100%;
right: -88.06%;
top: 35.03%;
bottom: 29.89%;

background: #132A64;
transform: rotate(-180deg);
}